# editor/ide files
*.swp
*.swo

# python bytecode
*.pyc
__pycache__/

# doc output
docs/_build
docs/developer/_autosummary
docs/_auto/**/*.plantuml

# code coverage info
.coverage

# developer mental sanity tracker
TODO.md

