# editor/ide files
*.swp
*.swo

# python bytecode
*.pyc
__pycache__/

# doc output
docs/_build
docs/developer/_autosummary
docs/_auto/**/*.plantuml

# code coverage info
.coverage

# profiling data
prof

# developer mental sanity tracker
TODO.md
.tmux-startup.sh

# distributon files
dist/
edgegraph.egg-info/

# interactive test outputs
out.puml
out.png

# pyvis JS library
lib/

